@font-face
{
    font-family: blk-runters;
    src: url(fonts/Black\ Runters.otf);
}

@font-face
{
    font-family: blacksword;
    src: url(fonts/Blacksword.otf);
}

@font-face
{
    font-family: unispace;
    src: url(fonts/unispace.otf);
}

@font-face
{
    font-family: creato;
    src: url(fonts/creato-display.otf);
}

body, html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #003842;
    display: grid;
    grid-template-rows: auto 1fr;
}

button, .confirm-btn
{
    border-radius: 25px;
    border: none;
}

.main-header
{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d37f00;
    box-sizing: border-box;
}

.header-txt
{
    color: #333333;
}

.header-txt
{
    font-family: blk-runters, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

.main-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    gap: 35px;
    padding-top: 50px;
}

.main-content *
{
    box-sizing: border-box;
}

.add-book-btn
{
    width: 135px;
    height: 50px;
    background-color: #3082a3;
    color: #201a10;
    border: none;
    font-family: blk-runters, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    box-sizing: border-box;
}

.add-book-btn:hover
{
    background-color: #2b7592;
    transition: background-color 500ms;
}

.add-book-btn:active
{
    background-color: #2e4e92;
    transition: background-color 500ms;
}

.books-grid
{
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    justify-items: center;
    align-items: center;
}

.book-card
{
    background-color: #36538a;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    box-sizing: border-box;
    width: auto;
    min-width: 250px;
    padding: 10px;
    max-width: 450px;
}

.book-card *
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-text-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
    width: 100%;
}

.book-header, .book-author, .book-text, .read-toggle, .book-remove, .radio-header, .close-modal-btn, .confirm-btn, label
{
    font-family: blk-runters, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.form-header
{
    font-family: blk-runters, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
}

.book-header
{
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-wrap: wrap;
}

.card-btn-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

/* Modal */

.modal-popup
{
    background-color: #3082a3;
    width: 450px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    padding-bottom: 35px;
}

.modal-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#modal-form
{
    display: flex; 
    flex-direction: column;
    justify-items: center;
    gap: 15px;
}

#modal-form *, .input-group *
{
    box-sizing: border-box;
    line-height: 1.5;
}

.input-group
{
    display: flex;
    flex-direction: column;
}

.close-modal-btn, .confirm-btn
{
    width: 75px;
    height: 35px;
}

input[type="text"], input[type="number"]
{
    border-radius: 15px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.book-remove, .read-toggle
{
    height: 30px;
    width: 120px;
}
